{% extends "MainTemplate.html" %}

{% load static %}

{% block title %} Inicio | HOTS {% endblock %}

{% block contenido %}


<div class="container my-5 pt-5">
  <div class="row mb-3">
    <div class="col-md-2 "></div>
    <div class="col-md-8">
      <h1 class="text-primary text-center">Inicio | Ingreso de Datos </h1>
      <br>
      <p class="text-justify">A continuación, ingrese toda la información del campo a estudiar con el fin de realizar el análisis por redes neuronales. Recuerde que toda la información es requerida.</p>


      <form action="{% url 'getEOR' %}" method="post"> {% csrf_token %}

        <div class="form-row">
          
          <div class="form-group col-md-6">
            <label for="Area">Area de Yacimiento</label>

            <div class="input-group">
              <input type="number" name="Area" id="Area" class="form-control" placeholder="Área de Yacimiento" aria-label="Área de Yacimiento" aria-describedby="AreaUnits" step="any" max="397000" min="2" required>
              <div class="input-group-append">
                <span class="input-group-text" id="AreaUnits">Acres</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="Porosidad">Porosidad</label>

            <div class="input-group">
              <input type="number" name="Porosidad" id="Porosidad" class="form-control" placeholder="Porosidad" aria-label="Porosidad" aria-describedby="PorosidadUnits" step="any" max="38" min="25" required>
              <div class="input-group-append">
                <span class="input-group-text" id="PorosidadUnits">%</span>
              </div>
            </div>
          </div>

        </div>

        <div class="form-row">
          
          <div class="form-group col-md-6">
            <label for="Permeabilidad">Permeabilidad</label>

            <div class="input-group">
              <input type="number" name="Permeabilidad" id="Permeabilidad"  class="form-control" placeholder="Permeabilidad" aria-label="Permeabilidad" aria-describedby="PermeabilidadUnits" step="any" max="10000" min="1800" required>
              <div class="input-group-append">
                <span class="input-group-text" id="PermeabilidadUnits">mD</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="Profundidad">Profundidad</label>

            <div class="input-group">
              <input type="number" class="form-control" name="Profundidad" id="Profundidad"  placeholder="Profundidad" aria-label="Profundidad" aria-describedby="ProfundidadUnits" step="any" max="2460" min="426" required>
              <div class="input-group-append">
                <span class="input-group-text" id="ProfundidadUnits">ft</span>
              </div>
            </div>
          </div>

        </div>

        <div class="form-row">
          
          <div class="form-group col-md-6">
            <label for="GravedadAPI">Gravedad API</label>

            <div class="input-group">
              <input type="number" class="form-control" name="GravedadAPI" id="GravedadAPI" placeholder="Gravedad API" aria-label="Gravedad API" aria-describedby="GravedadAPIUnits" step="any" max="14" min="7" required>
              <div class="input-group-append">
                <span class="input-group-text" id="GravedadAPIUnits">°API</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="Viscosidad">Viscosidad</label>

            <div class="input-group">
              <input type="number" class="form-control" name="Viscosidad" id="Viscosidad"  placeholder="Viscosidad" aria-label="Viscosidad" aria-describedby="ViscosidadUnits" step="any" max="600000" min="5000" required>
              <div class="input-group-append">
                <span class="input-group-text" id="ViscosidadUnits">cP</span>
              </div>
            </div>
          </div>

        </div>

         <div class="form-row">
          
          <div class="form-group col-md-6">
            <label for="Temperatura">Temperatura</label>

            <div class="input-group">
              <input type="number" class="form-control" name="Temperatura" id="Temperatura"  placeholder="Temperatura" aria-label="Temperatura" aria-describedby="TemperaturaUnits" step="any" max="100" min="45" required>
              <div class="input-group-append">
                <span class="input-group-text" id="TemperaturaUnits">°F</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="Soi">Saturación de Aceite Inicial</label>

            <div class="input-group">
              <input type="number" class="form-control" name="Soi" id="Soi"  placeholder="Saturación de Aceite Inicial" aria-label="Viscosidad" aria-describedby="SoiUnits" step="any" max="94" min="15" required>
              <div class="input-group-append">
                <span class="input-group-text" id="SoiUnits">%</span>
              </div>
            </div>
          </div>

        </div>

        <div class="form-row">
          
          <div class="form-group col-md-6">
            <label for="PYac">Presión de Yacimiento</label>

            <div class="input-group">
              <input type="number" class="form-control" name="PYac" id="PYac"  placeholder="Tiempo de Evaluación" aria-label="Presión de Yacimiento" aria-describedby="PYacUnits" max="891" min="65" required>
              <div class="input-group-append">
                <span class="input-group-text" id="PYacUnits">psi</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="WellNumber">Número de pozos productores</label>

            <div class="input-group">
              <input type="number" class="form-control" name="WellNumber" id="WellNumber"  placeholder="Número de Pozos Productores" aria-label="Número de Pozos Productores" aria-describedby="WellNumberUnits" max="277" min="1" required>
              <div class="input-group-append">
                <span class="input-group-text" id="WellNumber">#</span>
              </div>
            </div>
          </div>

        </div>

        <div class="form-row">
          
          <div class="form-group col-md-6">
            <label for="espesor">Espesor</label>

            <div class="input-group">
              <input type="number" class="form-control" name="espesor" id="espesor"  placeholder="Espesor" aria-label="Espesor" aria-describedby="EspUnits" max="112" min="32" required>
              <div class="input-group-append">
                <span class="input-group-text" id="EspUnits">ft</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="InyWellNumber">Número de pozos Inyectores</label>

            <div class="input-group">
              <input type="number" class="form-control" name="InyWellNumber" id="InyWellNumber"  placeholder="Número de Pozos Inyectores" aria-label="Número de Pozos Inyectores" aria-describedby="InyWellNumberUnits" max="55" min="1" required>
              <div class="input-group-append">
                <span class="input-group-text" id="InyWellNumberUnits">#</span>
              </div>
            </div>
          </div>

        </div>



        <br>
        <div class="clearfix">
        <button type="submit" class="btn btn-dark px-5 float-md-right">Enviar</button>
      </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row bg-dark footerrow">
    <div class="col-md-6 align-middle text-center">
            <center><img class="mb-3 " style="width: 90%" src="{% static 'images/LogoWellboreWhite.png' %}"></center>
    </div>
    <div class="col-md-6">
      <p class="text-muted mx-5 text-left">Wellbore Society 2018
        <br>Felipe Consuegra, Carlos Berdugo & Eduardo Muñoz
      <br>Universidad Industrial de Santander</p>
    </div>
  </div>
</div>


{% endblock %}